<h1>{{shift.date}}</h1> 
<h2> {{shift.notes}} </h2>

<p>Shift Total:  ${{total}}</p>
<p> Average Sale: ${{average}}</p>

{{#each shift.sales}}
    <div>
        <h4>${{this.amount}}</h4>
        <p>{{this.notes}}</p>
    </div>
{{/each}}

<form method="post" action="/shifts/{{shift._id}}">
    <div>
        <label> Amount </label>
    </div>
    <div>
        <input type="number" name="amount">
    
    </div>
    <label> Notes</label>
    </div>
    <div>
        <textarea name="notes">Any notes?</textarea>
    </div>
    <input type="submit" value="Create Sale" />
</form>
